body,html{
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    
    line-height: 1.8cm;
    color:#666;
}
.img,.img1,.img2,.img3{
    background-position: center;
    opacity: 0.70;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-attachment:fixed;

}
.img{
    background-image: url('tajmahal.jpg');
    min-height: 100%;
}
.img1{
    background-image: url('charminar.jpg');
    min-height: 400px;
}
.img2{
    background-image: url('indiagate.jpg');
    min-height: 400px;
}
.img3{
    background-image: url('india2.jpg');
    min-height: 400px;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color: cadetblue;
    color:#fff;
}
.section-dark{
    background-color:cornsilk;
    color:#666;
}
.ptext{
    position: absolute;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    top:50%;
    width:100%;
    font-size: 30px;
    letter-spacing: 9px;
}
.ptext .border{
    background-color:darkgoldenrod;
    color:#fff;
}
.ptext .border.trans{
    background-color: transparent;
}
@media(max-width:568px)  {
    .img, .img1, .img2{
    background-attachment: scroll;
    }
    
}